<!-- Navbar Start -->
<div class="container-fluid nav-bar bg-transparent">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
        <a href="/" class="navbar-brand d-flex align-items-center text-center">
            <div class="icon p-2 me-2">
                <img class="img-fluid" src="../img/icon-deal.png" alt="Icon" style="width: 30px; height: 30px;">
            </div>
            <h1 class="m-0 text-primary">Nomadic Space</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a href="/" class="nav-item nav-link active">Home</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Layanan Kami</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="../service/kitchen-set/" class="dropdown-item">Kitchen Set</a>
                        <a href="../service/design-interior/" class="dropdown-item">Design Interior</a>
                        <a href="../service/maket/" class="dropdown-item">Pembuatan Maket</a>
                        <a href="../service/custom-furniture/" class="dropdown-item">Custom Furniture</a>
                        <a href="../service/renovasi-rumah/" class="dropdown-item">Renovasi Rumah/Apartment</a>
                        <a href="../service/mural/" class="dropdown-item">Design Mural</a>
                        <a href="../service/sketch-3d/" class="dropdown-item">Sketch 3D</a>
                    </div>
                </div>
                <a href="about.html" class="nav-item nav-link">About</a>
                
            </div>
            <a href="" class="btn btn-primary px-3 d-none d-lg-flex">Appointment</a>
        </div>
    </nav>
</div>
<!-- Navbar End -->